.selecTagContainer{
	position: fixed;
	width: 100%;
	height: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  display: none;
}
.selecTag-bg{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0.1;
  z-index: 100;
}
.tag-name{
  font-size:14px;
  border: 1px solid #ddd;
  line-height: auto;
  display: inline-block;
  padding:5px 10px; 
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  color: #333;
  transition: all ease 0.2s;
}
.tag-name:hover{
  border: 1px solid #58c6ff;
  color: #fff;
  background: #58c6ff;
}
.tag-name.active{
  border: 1px solid #58c6ff !important;
  color: #fff !important;
  background: #58c6ff !important;
}
.selecTag-main{
  background: #fff;
  z-index: 101;
  width: 430px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -120px;
  margin-left: -215px;
  padding: 15px;
  border-radius: 5px;
}
.selecTag-btn-box{
  text-align: center;
  margin-top: 20px;
}
.selecTag-btn{
  cursor: pointer;
  display: inline-block;
  padding: 5px 5px;
  width: 80px;
  text-align: center;
  margin-right: 0;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
}
.selecTag-title{
  color: #333;
  margin-bottom: 10px;
}
.selecTag-cancle{
  color: #58c6ff;
  margin-right: 20px;
  border: 1px solid #58c6ff;
}
.selecTag-cancle:hover{
  color: #43bbfa;
  border:1px solid #43bbfa;
}
.selecTag-disabled{
  background: #d5d5d5;
  color: #fff;
}
.selecTag-ok{
  color: #fff;
  background: #58c6ff;
}
.selecTag-ok:hover{
  background: #43bbfa;
}
.search-subject{
  margin: 10px 0;
}
.search-subject .input-group{
  max-width: 300px;
}
.search-topic{
  max-width: 300px;
  margin-left: 10px;
}
.search-container{
  margin-bottom: 10px;
}
/*详情*/
.detail-img-box{
  display: inline-block;
  
}
.w470{
  width: 470px;
}
.detail-img-single img{
  max-width: 350px;
  max-height: 400px;
}
.detail-content-box{
  margin: 0;
  margin-left: 15px;
}
.detail-img-do img{
  max-width: none !important;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
}
.albums-container{
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.albums-container span{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: inline-block;
}
.img-view-tc{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  background: rgba(0,0,0,.1);
  display: none;
}
.img-view-tc img{
  position: absolute;
  left: 50%;
  top: 50%;
}
.detail-comment{
  margin: 16px 16px 0 16px;
}
.comment-list{
  background: #fff;
}
.select-comment{
  width: 50px;
  height: 100%;
  vertical-align: middle !important;
  text-align: center;
}
.comment-user-tx{
  display: inline-block;
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 100%;
}
.comment-user-tx img{
    border-radius: 100%;
    width: 100%;
    height: 100%;
}
.comment-user-info{
  width: 100%;
  margin-left: 10px;
}
.comment-user-info .name{
  font-size: 14px;
  color: #6dc3ff;
  font-weight: bold;
  margin-bottom: 4px;
  display: inline-block; 
}
.comment-user-info .comment-p{
  margin-bottom: 0px;
  font-size: 13px;
}
.select-comment-input{
  display: block;
  height: 100%;
}
.comment-user-info-tool{
  text-align: right;
  margin-right: 10px;
}
.comment-user-info-tool span{
  font-size: 13px;
}
.comment-user-info-tool .replay{
  width: 50px;
  text-align: center;
  display: inline-block;
  color: #6dc3ff;
}
.delete-comment{
  color: #6dc3ff;
  padding-right: 15px;
}
.none{
    display: none;
  }
  /*.add-banner-mask{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 19;
  }
  .add-banner-mask-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 18;
    background: rgba(0,0,0,.2)
  }
  .add-banner-mask-main{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -210px;
    margin-left: -200px;
    background: #fff;
    z-index: 19;
    padding: 10px;

  }
  .add-banner-mask-container{
    width: 375px;
    height: 150px;
  }
  .add-banner-mask-btn{
    text-align: center;
  }
  .add-banner-mask-container img{
    text-align: center;
    font-size: 20px;
    line-height: 150px;
    color: #fff;
    width: 375px;
    height: 150px;
    background: #ccc;
  }*/
  .banner-table{
    margin: 10px;
  }
  .banner-icon{
    font-size: 13px;
  }
  .banner-info{
    color: #999;
    font-size: 13px;
    line-height: 31px;
  }
  .banner-images img{
    width: 100%;
  }
  .add-img-cover{
    text-align: center;
    font-size: 15px;
    line-height: 110px;
    color: #fff;
    width: 110px;
    height: 110px;
    background: #ccc;
  }
  .editSummary{
    font-size: 13px;
    resize: none;
    width: 100%;
    height: 100%;
    outline: none;
    padding: 5px;
    border:1px solid #ccc;
  }
  .block{
    display: block !important;
  }
  .add-info{
    color: #999;
    font-size: 12px;
  }
  .replay-comment-container{
    display: none;
  }
  .replay-comment{
    padding: 10px;
    width: 380px;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -95px;
  }
  .comment-subject{
    margin: 10px 16px 0 16px;
    padding: 10px 10px 18px 10px;
    background: #fff;
    
  }
  .comment-subject-box{
    width: 500px;
  }
  .comment-subject textarea{
    resize: none;
  }
  .comment-subject .input-group{
    width: 70%;
  }
  .comment-subject-majia-input{
    width: 180px;
  }
  .replay-input{
    transition: all 0.7s;
    -webkit-transition: all 0.3s;
    display: none;
  }
  .replay-input-opend{
    display: block;
  }
  .comment-img{
    width: 100px;
    height: 100px;
  }
  .comment-img span{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: inline-block;
  }
  .comment-img img{
    max-width: none !important;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
  }
  .praise-all{
    left: 50%;
    top: 50%;
    margin-left:-233px;
    width: 466px;
    padding: 10px;
    margin-top: -160px;
  }
  .praise-item .nav-item {
    line-height: 41px;
    padding: 0 1rem;
    text-align: center;
    display: block;
  }
  .praise-item  .praise-shadow-select-box{
    width: 100%;
    max-height: 220px;
    overflow-y: scroll;
  }
  .praise-btn{
    text-align: center;
  }
  .praise-shadow-select{
    border: 1px solid #DDD;
    font-size: 13px;
    margin-top: 5px;
    margin-left:3px;
    padding: 2px 5px;
    display: inline-block;
    float: left;
  }
  .praise-shadow-select span{
    display: inline-block;
    width: 63px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
  }
  .check-shadow {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 13px;
    height: 13px;
    display: inline-block;
    background-image: url(../../img/bianjiziliao_icon_xingbiexuanze_n.png);
  }
  .check-shadow.active{
    background-image: url(../../img/bianjiziliao_icon_xingbiexuanze_s.png);
  }
  .gif-comment{
    font-size: 13px;
  }
  .gif-container{
    position: absolute;
    background: #FFF;
    width: 402px;
    bottom: 40px;
    border: 1px solid #ddd;
    z-index: 555;
  }
  .gif-container-box{
    padding: 5px 0 5px 8px;
    max-height: 220px;
    cursor: pointer;
    overflow-y: hidden;
    outline: none;
  }
  .gif-img{
    width: 90px;
    height: 90px;
    display: inline-block;
    float: left;
    margin-right: 8px;
    margin-bottom: 8px;
    background: #fff;
    position: relative;
  }
  .gif-img img{
    
  }
  .gif-container-bar {
    border-top: 1px solid #ddd;
  }
  .gif-container-bar {
      border-top: 1px solid #eee;
      width: 100%;
      height: 35px;
      line-height: 35px;
  }
  .gif-container-bar span{
    height: 100%;
    width: 70px;
    text-align: center;
    display: inline-block;
    color: #999;
    font-size: 13px;
    border-right: 1px solid #eee;
    float: left;
    cursor: pointer;
  }
  .gif-container-bar span.active{
    background: #eee;
    color: #333;
  }
  .loading-gif{
    font-size: 12px;
    color: #999;
    text-align: center;
    display: none;
  }
  .gif-img-box{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: inline-block;
  }
  .gifselect-icon{
    position: absolute;
    width: 17px;
    height: 17px;
    right: -5px;
    top: -5px;
  }
  .gifselect-icon img{
    width: 100%;
    height: 100%;
    display: block;
  }
  .gif-img-box img {
    max-width: none !important;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
  }
  .sendGif-select-container{
    width: 120px;
    height: 120px;
    margin-left: 50px;
  }
  .gif-img-box-delete{
    position: absolute;
    width: 20px;
    height: 20px;
    right: -8px;
    top: -8px;
    cursor: pointer;
  }
  .gif-img-box-delete img{
    width: 100%;
    display: block;
  }
  .comment-input-gif{
    border: 1px solid #ddd;
  }
  .comment-input-gif input{
    border: none;
  }
  .sendGif-select-child-container{
    width: 90px;
    height: 90px;
  }
  .sendGif-select-child-container .gif-img-box-delete{
    width: 16px;
    height: 16px;
    right: -5px;
    top: -5px;
  }
  .hot-message-title{
    font-size: 13px;
  }
  .hot-message{
    outline: none;
    border:none;
    width: 200px;
    font-size: 12px;
    border-bottom: 1px solid #eee;
  }
  .hot-message::placeholder{
    color: #ddd;
  }
  