.selecTagContainer{
	position: fixed;
	width: 100%;
	height: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  display: none;
}
.selecTag-bg{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0.1;
  z-index: 100;
}
.tag-name{
  font-size:14px;
  border: 1px solid #ddd;
  line-height: auto;
  display: inline-block;
  padding:5px 10px; 
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  color: #333;
  transition: all ease 0.2s;
}
.tag-name:hover{
  border: 1px solid #58c6ff;
  color: #fff;
  background: #58c6ff;
}
.tag-name.active{
  border: 1px solid #58c6ff !important;
  color: #fff !important;
  background: #58c6ff !important;
}
.selecTag-main{
  background: #fff;
  z-index: 101;
  width: 430px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -120px;
  margin-left: -215px;
  padding: 15px;
  border-radius: 5px;
}
.selecTag-btn-box{
  text-align: center;
  margin-top: 20px;
}
.selecTag-btn{
  cursor: pointer;
  display: inline-block;
  padding: 5px 5px;
  width: 80px;
  text-align: center;
  margin-right: 0;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
}
.selecTag-title{
  color: #333;
  margin-bottom: 10px;
}
.selecTag-cancle{
  color: #58c6ff;
  margin-right: 20px;
  border: 1px solid #58c6ff;
}
.selecTag-cancle:hover{
  color: #43bbfa;
  border:1px solid #43bbfa;
}
.selecTag-disabled{
  background: #d5d5d5;
  color: #fff;
}
.selecTag-ok{
  color: #fff;
  background: #58c6ff;
}
.selecTag-ok:hover{
  background: #43bbfa;
}
.search-subject{
  margin: 10px 0;
}
.search-subject .input-group{
  max-width: 300px;
}
.search-topic{
  max-width: 300px;
  margin-left: 10px;
}
.search-container{
  margin-bottom: 10px;
}
/*详情*/
.detail-img-box{
  display: inline-block;
  
}
.w470{
  width: 470px;
}
.detail-img-single img{
  max-width: 350px;
  max-height: 400px;
}
.detail-content-box{
  margin: 0;
  margin-left: 15px;
}
.detail-img-do img{
  max-width: none !important;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
}
.albums-container{
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.albums-container span{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: inline-block;
}
.img-view-tc{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  background: rgba(0,0,0,.1);
  display: none;
}
.img-view-tc img{
  position: absolute;
  left: 50%;
  top: 50%;
}
.detail-comment{
  margin: 16px 16px 0 16px;
}
.comment-list{
  background: #fff;
}
.select-comment{
  width: 50px;
  height: 100%;
  vertical-align: middle !important;
  text-align: center;
}
.comment-user-tx{
  display: inline-block;
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 100%;
}
.comment-user-tx img{
    border-radius: 100%;
    width: 100%;
    height: 100%;
}
.comment-user-info{
  width: 100%;
  margin-left: 10px;
}
.comment-user-info .name{
  font-size: 14px;
  color: #6dc3ff;
  font-weight: bold;
  margin-bottom: 4px;
  display: inline-block; 
}
.comment-user-info .comment-p{
  margin-bottom: 0px;
  font-size: 13px;
}
.select-comment-input{
  display: block;
  height: 100%;
}
.comment-user-info-tool{
  text-align: right;
  margin-right: 10px;
}
.comment-user-info-tool span{
  font-size: 13px;
}
.comment-user-info-tool .replay{
  width: 50px;
  text-align: center;
  display: inline-block;
  color: #6dc3ff;
}
.delete-comment{
  color: #6dc3ff;
  padding-right: 15px;
}